.info{
	margin-top: 20px;
	margin-bottom: 50px;
	text-align: $ac;
}
.textop{
	margin: 50px;
	text-align: $ac;
}
.form{
	margin: 10px;
	width: 60%;
	margin-bottom: 50px;
}
.ciudad{
	margin-top: 40px;
	margin-bottom: 60px;
}
.confirm{
	text-align: $ac;
	margin-top: 50px;
    .data{
        margin: 50px;
    }
    .data2{
        margin: 50px;
    }
}
.boton{
	a{
		color: #ffffff;
		text-decoration: none;
	}
}

.primary{
	background-color: #ffffff;
}
.primary{
    .change{
	    background-color: #8a2be2;
    }
}
.secondary{
	background-color: #ffffff;
}
.secondary{
    .change{
	    background-color: #8a2be2;
    }
}
.contrast{
	background-color: #ffffff;
}
.contrast {
    .change{
	    background-color: #8a2be2;
    }
}
.pedidosjs{
	text-align: center;
	font-size: larger;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	margin: 20px;
}
.botones{
	text-align: center;
	margin-bottom: 50px;
}


.demo-one {
	background-color: #ffffff;
}
.demo-two {
	background-color: #8a2be2;
}